<footer class="bg-dark text-white pt-5 pb-3 mt-5">

    <div class="container">

        <div class="row gy-4">

            <!-- About -->
            <div class="col-lg-4 col-md-6">

                <h5 class="mb-3">About GEMS</h5>

                <p class="text-light">
                    @ViewBag.FooterAbout
                </p>

            </div>

            <!-- Quick Links -->
            <div class="col-lg-2 col-md-6">

                <h5 class="mb-3">Quick Links</h5>

                <ul class="list-unstyled">

                    <li class="mb-2">
                        <a class="text-decoration-none text-light"
                           href="@Url.Action("Index", "Home")">
                            Home
                        </a>
                    </li>

                    <li class="mb-2">
                        <a class="text-decoration-none text-light"
                           href="@Url.Action("About", "Home")">
                            About Us
                        </a>
                    </li>

                    <li class="mb-2">
                        <a class="text-decoration-none text-light"
                           href="@Url.Action("Admission", "Home")">
                            Admission
                        </a>
                    </li>

                    <li class="mb-2">
                        <a class="text-decoration-none text-light"
                           href="@Url.Action("Academics", "Home")">
                            Academics
                        </a>
                    </li>

                    <li class="mb-2">
                        <a class="text-decoration-none text-light"
                           href="@Url.Action("Contact", "Home")">
                            Contact
                        </a>
                    </li>

                </ul>

            </div>

            <!-- Gallery -->
            <div class="col-lg-3 col-md-6">

                <h5 class="mb-3">Photo Gallery</h5>

                <div class="row g-2">

                    <div class="col-6">
                        <img src="https://via.placeholder.com/150x100/003366/ffffff?text=Gallery+1"
                             class="img-fluid rounded"
                             alt="Gallery 1" />
                    </div>

                    <div class="col-6">
                        <img src="https://via.placeholder.com/150x100/ff6600/ffffff?text=Gallery+2"
                             class="img-fluid rounded"
                             alt="Gallery 2" />
                    </div>

                    <div class="col-6">
                        <img src="https://via.placeholder.com/150x100/003366/ffffff?text=Gallery+3"
                             class="img-fluid rounded"
                             alt="Gallery 3" />
                    </div>

                    <div class="col-6">
                        <img src="https://via.placeholder.com/150x100/ff6600/ffffff?text=Gallery+4"
                             class="img-fluid rounded"
                             alt="Gallery 4" />
                    </div>

                </div>

            </div>

            <!-- Newsletter -->
            <div class="col-lg-3 col-md-6">

                <h5 class="mb-3">Newsletter</h5>

                <form>

                    <div class="mb-3">
                        <input type="email"
                               class="form-control"
                               placeholder="Enter your email" />
                    </div>

                    <button type="submit"
                            class="btn btn-warning w-100">
                        Subscribe Now
                    </button>

                </form>

                <div class="d-flex gap-3 mt-4">

                    <a href="#" class="text-white">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <a href="#" class="text-white">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <a href="#" class="text-white">
                        <i class="fab fa-linkedin-in"></i>
                    </a>

                </div>

            </div>

        </div>

        <!-- Footer Bottom -->
        <hr class="border-light my-4" />

        <div class="text-center">
            <p class="mb-0">
                &copy; @DateTime.Now.Year GEMS SCHOOL. All Rights Reserved.
            </p>
        </div>

    </div>

</footer>
