@{
    // Layout does not need IsActive here because the header partial handles active nav links.
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="importmap"></script>
    <title>@ViewBag.Title - GEMS SCHOOL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/base.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/pages.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

</head>

<body>
    <div class="layout-wrapper">
        <div class="before_header">@RenderSection("before_header", false)</div>

        <header>
            @if (IsSectionDefined("header"))
            {
                @RenderSection("header")
            }
            else
            {
                @await Html.PartialAsync("~/Views/Shared/Components/_Header.cshtml")
            }
        </header>

        <div class="before_main">@RenderSection("before_main", false)</div>

        <main>
            @if (IsSectionDefined("main"))
            {
                @RenderSection("main")
            }
            else
            {
                @RenderBody()
            }
        </main>

        <div class="after_main">@RenderSection("after_main", false)</div>

        <div class="before_footer">@RenderSection("before_footer", false)</div>

        @if (IsSectionDefined("footer"))
        {
            @RenderSection("footer")
        }
        else
        {
            @await Html.PartialAsync("~/Views/Shared/Components/_Footer.cshtml")
        }

        <div class="after_footer">@RenderSection("after_footer", false)</div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>